body{
  background-image:url(../images/birds.jpg);
}
header{
  background-color: white;
}
a{
  color: goldenrod; text-decoration: none;
}
a:hover{
  font-weight: bold;
}

.grid{
  border: white;
}
nav{
  background-color: white;
}
ul li{
  list-style-type: none
  display: inline;
}
