.photo{
  width: 100%; border-radius: 255px;
}
body{
  margin: 0;padding: 0;
}
.wrapper{
  display: block; width:100%;
  min-height: 500px;max-width: 1080px; margin-left: auto; margin-right: auto; box-sizing: border-box;
}
header{
  height: 30px;
}
nav{
  display: block;
}
.navlinks{
  list-style-type: none;
}
.navlinks li{
  display: inline;
}
.navlinks a{
  text-decoration: none; display: inline-block; padding: 10px;
}
nav ul li {
  float: right;
}

.left{
  display: inline-block;vertical-align: top; width: 20%;min-height: 500px;
  padding: 30px; box-sizing: border-box; height: 100%;
}
.right{
  display: inline-block; vertical-align: top; width: 55%; min-height: 500px;
 padding: 30px; box-sizing: border-box; height: 50%;
}
.grid{
  border-style: solid; border-width: thick; width: 100%;
  box-sizing: content-box;
}
.grid ul {
  padding: 40px;
  margin: 0;
}
footer{
  display: block; padding: 10px; text-align:center;
}
