body{
  margin: 0;padding: 0;
}
.photo{
  width: 75%;border-radius: 255px;
}
.wrapper{
  display: block; width: 100%;
  min-height: 500px;margin-left: auto; margin-right: auto; box-sizing: border-box;
  padding: 10px
}
nav{
  display: block;
}
.navlinks{
  list-style-type: none;
}
.navlinks li{
  display: block; text-align: center;font-size: 36px; border-color: gold; border-style: dashed; border-radius: 10px;
}
.navlinks a{
  text-decoration: none; padding: 10px;
}
.navlinks ul li{
width: 620px;
margin-left: -20px;
text-align: center;
}

ul{
  width:100%;
}
ul li{
  width: 100%;
  display: block;
  height: 60px;
  border: solid;
}
.left, .right{
  display:inline-block; width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.grid{
  border-style: solid; border-width: thick; box-sizing: content-box;
  display: inline-block;
}
.grid ul li{
  height: 300px; border-style: none;
}
footer{
  display: block; padding: 30px;
}
