body{
  margin: 0;padding: 0;
}
.photo{
  width: 75%;border-radius: 255px;
}
.wrapper{
  display: block; width: 100%;
  min-height: 500px;margin-left: auto; margin-right: auto; box-sizing: border-box;
  padding: 10px
}
nav{
  display: block;
}
.navlinks{
  list-style-type: none;
}
.navlinks li{
  display: block; text-align: center;font-size: 36px;
}
.navlinks a{
  text-decoration: none; padding: 10px;
}
ul{
  width:100%;
}
ul li{
  width: 100%;
  display: block;
  height: 60px:
  border:px solid red;
}
.left, .right{
  display:inline block; width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.grid{
  border-style: solid; border-width: thick; box-sizing: content-box;
  display: inline-block; width: 500px;
}
footer{
  display: block; padding: 30px;
}
