a{
  color: skyblue;
  text-decoration: none;
}
a:hover{
  font-weight: bold;
}
p{
  font-family: monospace;
}
.customlist{
  color:skyblue;
}
#maintitle{
  color: pink; font-family: 'Kalam', cursive;
}
.secondtitle{
  color: goldenrod;font-family: "Kalam",cursive;
}
.text{
  font-family: 'Arapey', serif;
}
body{
  background: beige;
}
#border{
  border-style: solid; border-color: black;
}
.firstcolumn{
  font-style: italic;
}
.spacing{
  line-height: 2.0;
}
.square{
  list-style: square;
}
